#block-getpictureblock  {
    background: yellow;
    text-align: center;
    color: #042E64;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B;
    position: fixed;
    bottom: 0;
    width: 100px;
    right: 0;
}

  #block-getpictureblock h2 {
    display:none;
  }

